<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	  autoReload="true"
	  throwExceptions="true"
      >

    <targets>
        <!--Log in a separate thread, possibly queueing up to 5000 messages. When the queue overflows, grow the queue-->
        <target name="file" xsi:type="AsyncWrapper" queueLimit="5000" overflowAction="Grow">
            <target
                xsi:type="File"
                fileName="${basedir}\nlog.current.csv"
                concurrentWrites="true"
                concurrentWriteAttemptDelay="10"
                concurrentWriteAttempts="3"
                header="Date;Time;Level;Threadid;Source;Message;Exception;"
                layout="${date:format=yyyy-MM-dd;HH\:mm\:ss.fff};${level:uppercase=true};${threadid};${callsite};${message};${exception:format=tostring};"
            />
        </target>
    </targets>

    <rules>
        <!-- supported levels:
        - Trace - very detailed logs, which may include high-volume information such as protocol payloads. This log level is typically only enabled during development
        - Debug - debugging information, less detailed than trace, typically not enabled in production environment.
        - Info - information messages, which are normally enabled in production environment
        - Warn - warning messages, typically for non-critical issues, which can be recovered or which are temporary failures
        - Error - error messages - most of the time these are Exceptions
        - Fatal - very serious errors
        -->
        <logger name="*" minlevel="Trace" writeTo="file" />
    </rules>
</nlog>